* {
    margin: 100;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #1dae5051;
    color: #000000;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #27cd43e8, #a7c5a1ed);
    color: #ffffff;
    text-align: center;
    padding: 60px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

section {
    padding: 50px;
    background-color: #fff;
    margin-bottom: 30px;
}

.section {
    max-width: auto;
    margin: 0 auto;
}

.archive-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
}

.archive-item {
    background-color: #0c9437c3;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #626864;
    color: white;
    position: relative;
}

footer p {
    margin: 0;
}

/* Animasi Fade In */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}
